<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="file" value="Data.Impl.SqlDataLayer,StaffManagement.DataLayer" />
		<add key="DefaultConnection" value="Server=DESKTOP-3JR0NLN;Initial Catalog=StaffManagementDb;Integrated Security=True;TrustServerCertificate=True;"/>	
	</appSettings>
</configuration>